body {
   font-family: "Berkshire Swash", serif;
   font-weight: 400;
  font-style: normal;
  text-align: center;
  background: #afb1bb;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: #2c2d6e;
  color: white;
}

button:hover {
  background-color: #2c2d6e;
}

.wheel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #333;
  margin: 20px auto;
  background-image: conic-gradient(
    rgb(35, 32, 66) 0deg 60deg,
    rgb(74, 75, 145) 60deg 120deg,
    rgb(85, 98, 170) 120deg 180deg,
    rgb(96, 111, 190) 180deg 240deg,
    rgb(111, 132, 224) 240deg 300deg,
    rgb(120, 158, 240) 300deg 360deg
  );
  transition: transform 4s ease-out;
}
